{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}
    <div class="form-container">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ form.old_password(placeholder='Enter old password')}}
            {{ form_field_error(form.old_password.errors) }}
            {{ form.new_password(placeholder='Enter new password')}}
            {{ form_field_error(form.new_password.errors) }}
            {{ form.confirm_new_password(placeholder='Confirm new password')}}
            {{ form_field_error(form.confirm_new_password.errors) }}
            {{ form.submit(class='button') }}
        </form>
    </div>
{% endblock content %}
