{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}
    <section class="form-container">
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <legend>Login as a professional</legend>
            <section>
                {{ form.username(class='form-field', placeholder='Enter username')}}
                {{ form_field_error(form.username.errors) }}
            </section>
            <section>
                {{ form.password(class='form-field', placeholder='Enter password')}}
                {{ form_field_error(form.password.errors) }}
            </section>
            <section>
                {{ form.submit(class='button') }}
            </section>
        </form>
    </section>
{% endblock content %}