{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}
    <div class="form-container">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ form.username(class='form-field', placeholder='Enter username')}}
            {{ form_field_error(form.username.errors) }}
            {{ form.password(class='form-field', placeholder='Enter password')}}
            {{ form_field_error(form.password.errors) }}
            {{ form.submit(class='button', value='Login as a professional') }}
        </form>
    </section>
{% endblock content %}