{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename='styles.css')}}"/>
    <script src="{{ url_for('user.static', filename='forms.js') }}"></script>
{% endblock header %}
{% block content %}
    <div class="form-container">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ form.username(placeholder='Enter username')}}
            {{ form_field_error(form.username.errors) }}
            {{ form.password(placeholder='Enter password')}}
            {{ form_field_error(form.password.errors) }}
            {{ form.submit(class='button') }}
        </form>
    </div>
{% endblock content %}
