{% extends "base.html" %}
{% block content %}
    <h1>Register your account! </h1>
    <section id="form">
        <form action="" method="post">
            {{form.hidden_tag()}}
            <fieldset>
                <legend>Create your client account</legend>
                <section>
                    {{form.username(class='form-field', placeholder='Enter username')}}
                </section>
                <section>
                    {{form.email(class='form-field', placeholder='Enter email')}}
                </section>
                <section>
                    {{form.password(class='form-field', placeholder='Enter password')}}
                </section>
                <section>
                    {{form.confirm_password(class='form-field', placeholder='Retype password')}}
                </section>
                <section>
                    {{form.phone(class='form-field', placeholder='Enter your phone number (xxx-xxx-xxxx) or without - ')}}
                </section>
                <section>
                    {{form.submit(class='button')}}
                </section>
            </fieldset>
        </form>
    </section>
{% endblock content %}
