{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}
    <div class="form-container">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ form.username(class='form-field', placeholder='Enter username') }}
            {{ form_field_error(form.username.errors) }}
            {{ form.email(class='form-field', placeholder='Enter email') }}
            {{ form_field_error(form.email.errors) }}
            {{ form.password(class='form-field', placeholder='Enter password') }}
            {{ form_field_error(form.password.errors) }}
            {{ form.confirm_password(class='form-field', placeholder='Retype password') }}
            {{ form_field_error(form.confirm_password.errors) }}
            {{ form.phone(class='form-field', placeholder='Enter your phone number') }}
            {{ form_field_error(form.phone.errors) }}
            {{ form.pay_rate(placeholder='Enter pay rate') }}
            {{ form_field_error(form.pay_rate.errors) }}
            <div class="input-group">
                <div>Speciality</div>
                {{ form.specialty() }}
                {{ form_field_error(form.specialty.errors) }}
            </div>
            {{ form.submit(class='button', value='Register as a client') }}
        </form>
    </div>
{% endblock content %}
