{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}
    <div id="user-admin">
        <div id="create-user-section">
            <form method="POST" novalidate enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.user_type(id='user-type') }}
                {{ form_field_error(form.user_type.errors) }}
                {{ form.username(class='form-field', placeholder='Enter username') }}
                {{ form_field_error(form.username.errors) }}
                {{ form.email(class='form-field', placeholder='example@email.com') }}
                {{ form_field_error(form.email.errors) }}
                {{ form.password(class='form-field', placeholder='Enter password') }}
                {{ form_field_error(form.password.errors) }}
                {{ form.confirm_password(class='form-field', placeholder='Retype password') }}
                {{ form_field_error(form.confirm_password.errors) }}
                {{ form.phone(class='form-field', placeholder='XXX-XXX-XXXX') }}
                {{ form_field_error(form.phone.errors) }}
                {{ form.address(class='form-field',placeholder='Enter your address ') }}
                {{ form_field_error(form.address.errors) }}
                {{ form.age(class='form-field',placeholder='Enter your age ') }}
                {{ form_field_error(form.age.errors) }}
                {{ form.pay_rate(placeholder='Enter pay rate', id='pay-rate') }}
                {{ form_field_error(form.pay_rate.errors) }}
                <div class="input-group">
                    <div id="specialityLabel">Speciality</div>
                    {{ form.specialty(id='specialty-register') }}
                    {{ form_field_error(form.specialty.errors) }}
                </div>
                <div class="input-group">
                    <div>Profile Picture</div>
                    {{ form.avatar() }}
                    {{ form_field_error(form.avatar.errors) }}
                </div>
                {{ form.submit(class='button', value='Create User') }}
            </form>
        </div>
        <div id="users">
            <table class="user-columns">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Action</th>
                        <th>Action</th>
                        <th>ID</th>
                        <th>Enabled</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Age</th>
                        <th>Pay</th>
                        <th>Speciality</th>
                    </tr>
                </thead>
                <tbody class="user-body">
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ url_for('user.delete_user', user_id=user[0]) }}">
                                    <button type="button">Delete</button>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('user.update_user', user_id=user[0]) }}">
                                    <button type="button">Update</button>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('user.toggle_activation', user_id=user[0]) }}">
                                    {% if user[1] == 1 %}
                                        <button type="button">Disable</button>
                                    {% else %}
                                        <button type="button">Enable</button>
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ user[0] }}</td>
                            {% if user[1] == 1 %}
                                <td>Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                            <td>{{ user[2] }}</td>
                            <td>{{ user[3] }}</td>
                            <td>{{ user[4] }}</td>
                            <td>{{ user[5] }}</td>
                            <td>{{ user[6] }}</td>
                            <td>{{ user[7] }}</td>
                            <td>{{ user[8] }}</td>
                            <td>{{ user[9] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
