{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}

<div id="flex">
    <section id="left-side">
        <div class="">
            <form method="POST" novalidate>
                <h2> Add appointment</h2>
                {{ form.hidden_tag() }}
                <div class="input-group">
                    <div>Client:</div>
                    {{ form.member_name(class='form-field', placeholder='Choose the member') }}
                    {{ form_field_error(form.prof_name.errors) }}
                </div>
                <div class="input-group">
                    <div>Date:</div>
                    {{ form.date_appointment(class='form-field', placeholder='Enter the date') }}
                    {{ form_field_error(form.date_appointment.errors) }}
                </div>
                <div class="input-group">
                    <div>Time slot:</div>
                    {{ form.slot(class='form-field', placeholder='Enter the time slot') }}
                    {{ form_field_error(form.slot.errors) }}
                </div>
                {{ form.venue(class='form-field', placeholder='Enter the venue') }}
                {{ form_field_error(form.venue.errors) }}
                <div class="input-group">
                    <div>Professional:</div>
                    {{ form.prof_name(class='form-field', placeholder='Choose the professional') }}
                    {{ form_field_error(form.prof_name.errors) }}
                </div>
                <div class="input-group">
                    <div>Service:</div>
                    {{ form.service(class='form-field', placeholder='Choose the service ') }}
                    {{ form_field_error(form.service.errors) }}
                </div>
                {{ form.submit(class='button', value='Add an appointment') }}
            </form>
        </div>
    </section>

    <section id="right-side">
        <div class="container">
            {% if appointments %}
            {% for appointment in appointments %}
            <h1>Appointment ID {{appointment[0]}}</h1>

            <div class="listing">
                <div class="section">Client : {{ names[loop.index0][0] }}</div>
                <div class="section">Professional : {{ names[loop.index0][1] }}</div>
                <div class="section">Date: {{ appointment[2] }}</div>
                <div class="section">Venue: {{ appointment[4] }}</div>
                <div class="section">Time-Slot: {{ appointment[3] }}</div>
                <div class="section">Service: {{names[loop.index0][2]}}</div>

                <button class="button"><a
                        href="{{url_for('appointment.update_appointment',appointment_id=appointment[0])}}"> Update </a>
                </button>

                <button class="button"><a
                        href="{{url_for('appointment.appointment_view',appointment_id=appointment[0])}}">Delete </a>
                </button>


            </div>
            {% endfor %}
            {% else %}
            <div>No appointments to render</div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock content %}