{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('appointment.static', filename='appointment.css') }}" />
{% endblock css %}

{% block content %}
<section class="left-side">
    <form method="POST" novalidate>
        <h2> Add appointment</h2>
        {{ form.hidden_tag() }}
        <div class="input-group">
            <div>Client:</div>
            {{ form.member_name(class='form-field', placeholder='Choose the member') }}
            {{ form_field_error(form.prof_name.errors) }}
        </div>
        <div class="input-group">
            <div>Date:</div>
            {{ form.date_appointment(class='form-field', placeholder='Enter the date') }}
            {{ form_field_error(form.date_appointment.errors) }}
        </div>
        <div class="input-group">
            <div>Time slot:</div>
            {{ form.slot(class='form-field', placeholder='Enter the time slot') }}
            {{ form_field_error(form.slot.errors) }}
        </div>
        {{ form.venue(class='form-field', placeholder='Enter the venue') }}
        {{ form_field_error(form.venue.errors) }}
        <div class="input-group">
            <div>Professional:</div>
            {{ form.prof_name(class='form-field', placeholder='Choose the professional') }}
            {{ form_field_error(form.prof_name.errors) }}
        </div>
        <div class="input-group">
            <div>Service:</div>
            {{ form.service(class='form-field', placeholder='Choose the service ') }}
            {{ form_field_error(form.service.errors) }}
        </div>
        {{ form.submit(class='button', value='Add an appointment') }}
    </form>
</section>

<section class="right-side">
    <div class="container">

        <div class="table-title">
                <h2>Manage appointments</h2>

        </div>

        {% if appointments %}
        {% for appointment in appointments %}
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Client</th>
                    <th>Professional</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Time-Slot</th>
                    <th>Service</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ appointment[0] }}</td>
                    <td>{{ names[loop.index0][0] }}</td>
                    <td>{{ names[loop.index0][1] }}</td>
                    <td>{{ appointment[2] }}</td>
                    <td>{{ appointment[4] }}</td>
                    <td>{{ appointment[3] }}</td>
                    <td>{{names[loop.index0][2]}}</td>
                    <td>
                        <a href="{{url_for('appointment.update_appointment',appointment_id=appointment[0])}}">
                            Update </a>
                        <a href="{{url_for('appointment.delete_appointment',appointment_id=appointment[0])}}">Delete
                        </a>
                        {% if reports[loop.index0][1] %}
                        <a href="{{url_for('report.delete_report',report_id=reports[loop.index0][2])}}">Delete report
                        </a>
                        {% endif %}
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="table">
            <tr>
                <th class="">Client feedback:</th>
                <td>{{ reports[loop.index0][0] }}</td>
                <td class="report-action">
                    <a href="{{url_for('report.update_report',appointment_id=appointment[0])}}"> Update
                    </a>
                    <a href="{{url_for('appointment.delete_appointment',appointment_id=appointment[0])}}">Delete
                    </a>
                </td>
            </tr>
            <tr>
                <th class="">Professional feedback:</th>
                <td>{{ reports[loop.index0][1] }}</td>
                <td class="report-action">
                    <a href="{{url_for('report.update_report',appointment_id=appointment[0])}}"> Update
                    </a>
                    <a href="{{url_for('appointment.delete_appointment',appointment_id=appointment[0])}}">Delete
                    </a>
                </td>
            </tr>
        </table>
        <br>
        <br>
        {% endfor %}
        {% else %}
        <div>No appointments to render</div>
        {% endif %}
    </div>
</section>
{% endblock content %}