{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}

<div id="flex">
    <section id="left-side">
        <section>All-appointments</section>
    </section>

    <section id="right-side">
        <div class="container">
            {% if appointments %}
            {% for appointment in appointments %}
            <h1>Appointment # {{appointment[0]}}</h1>

            <div class="listing">
                <div class="section">Client ID: {{ appointment[5] }}</div>
                <div class="section">Professional ID: {{ appointment[6] }}</div>
                <div class="section">Date: {{ appointment[2] }}</div>
                <div class="section">Time-Slot: {{ appointment[3] }}</div>

                {% if current_user.is_authenticated %}
                <button class="button"><a
                        href="{{url_for('appointment.appointment_view',appointment_id=appointment[0])}}">Click for
                        detailed info </a> </button>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div>No appointments to render</div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock content %}