{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('appointment.static', filename='all-appointments.css') }}" />
{% endblock css %}

{% block content %}

<section class="left-side">
    <section>All-appointments</section>
</section>

<section class="right-side">
    <div class="container">
        <div class="wrapper">

            <div class="table-title">
                <h2>All appointments</h2>

            </div>
            {% if appointments %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Client ID</th>
                        <th>Professional ID</th>
                        <th>Date</th>
                        <th>Time-Slot</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment[0] }}</td>
                        <td>{{ appointment[5] }}</td>
                        <td>{{ appointment[6] }}</td>
                        <td>{{ appointment[2] }}</td>
                        <td>{{ appointment[3] }}</td>
                        {% if current_user.is_authenticated %}
                        <td><a href="{{url_for('appointment.appointment_view',appointment_id=appointment[0])}}">Click
                                for
                                detailed info </a> </td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <div>No appointments to render</div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}