{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}
    <div class="form-container">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ form.date_appointment(class='form-field', placeholder='Enter the date') }}
            {{ form_field_error(form.date_appointment.errors) }}
            {{ form.slot(class='form-field', placeholder='Enter the time slot') }}
            {{ form_field_error(form.slot.errors) }}
            {{ form.venue(class='form-field', placeholder='Enter the venue') }}
            {{ form_field_error(form.venue.errors) }}
            {{ form.prof_name(class='form-field', placeholder='Choose the professional') }}
            {{ form_field_error(form.prof_name.errors) }}
            {{ form.service(class='form-field', placeholder='Choose the service ') }}
            {{ form_field_error(form.service.errors) }}
            {{ form.submit(class='button') }}
        </form>
    </div>
{% endblock content %}
