{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='appointment.css') }}" />
{% endblock css %}

{% block content %}


<section class="left-side">
    <h1>My appointments</h1>
</section>

<section class="right-side">
    <div class="container">
        <div class="table-title">
            <div class="row">
                <h2>All my appointments</h2>
            </div>
        </div>
        {% if appointments %}
        {% for appointment in appointments %}
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Client</th>
                    <th>Professional</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Time-Slot</th>
                    <th>Service</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ appointment[0] }}</td>
                    <td>{{ names[loop.index0][0] }}</td>
                    <td>{{ names[loop.index0][1] }}</td>
                    <td>{{ appointment[2] }}</td>
                    <td>{{ appointment[4] }}</td>
                    <td>{{ appointment[3] }}</td>
                    <td>{{names[loop.index0][2]}}</td>
                    <td>
                        <a href="{{url_for('appointment.update_appointment',appointment_id=appointment[0])}}">
                            Update </a>
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="table">
            <tr>
                <th class="">Client feedback:</th>
                <td>{{ reports[loop.index0][0] }}</td>
                <td class="report-action">
                    <a href="{{url_for('appointment.update_appointment',appointment_id=appointment[0])}}"> Update
                    </a>
                </td>
            </tr>
            <tr>
                <th class="">Professional feedback:</th>
                <td>{{ reports[loop.index0][1] }}</td>
                <td class="report-action">
                    <a href="{{url_for('report.update_report',appointment_id=appointment[0])}}"> Update
                    </a>
                </td>
            </tr>
        </table>
        <br>
        <br>
        {% endfor %}
        {% else %}
        <div>No appointments to render</div>
        {% endif %}
    </div>
</section>


{% endblock content %}