{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}
{% block content %}

<div id="flex">
    <section id="left-side">
        <h1>My appointments</h1>
    </section>

    <section id="right-side">
        <div class="container">
            {% if appointments %}
            {% for appointment in appointments %}
            <div>
                <h1>Appointment # {{appointment[0]}}</h1>
            </div>
            <div class="listing">
                <div class="section">Client : {{ names[loop.index0][0] }}</div>
                <div class="section">Professional : {{ names[loop.index0][1] }}</div>
                <div class="section">Date: {{ appointment[2] }}</div>
                <div class="section">Venue: {{ appointment[4] }}</div>
                <div class="section">Time-Slot: {{ appointment[3] }}</div>
                <div class="section">Service: {{names[loop.index0][2]}}</div>

                
                <button class="button"><a
                        href="{{url_for('appointment.update_appointment',appointment_id=appointment[0])}}"> Update my
                        appointment </a> </button>
            </div>
            {% endfor %}
            {% else %}
            <div>No appointments to render</div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock content %}