<!DOCTYPE html>
<html lang="en">

<head>
    <title>420 Project</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('user.static', filename='styles.css') }}" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block css %}
    {% endblock css %}
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
</head>

<body>
    <header>
        <h1>Barbershop Appointments</h1>
    </header>
    
    <nav>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('appointment.all_appointments') }}">View all appointments</a>
            <a href="{{ url_for('user.register') }}">Register</a>
            <a href="{{ url_for('user.login') }}">Login</a>
        {% elif current_user.is_authenticated and current_user.user_type == "Member" and current_user.access_level == 0 %}  
            <a href="{{ url_for('appointment.all_appointments') }}">View all appointments</a>
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('user.logout') }}">Logout</a>
            <a href="{{ url_for('user.update_profile', user_id=current_user.user_id) }}">Update Profile</a>
            <a href="{{ url_for('user.change_password', user_id=current_user.user_id) }}">Change Password</a>
            <a href="{{ url_for('appointment.add_appointment') }}">Make an appointment</a>
            <a href="{{ url_for('appointment.my_appointments') }}">My appointments</a>
        {% elif current_user.is_authenticated and current_user.user_type == "Professional" and current_user.access_level == 0 %}  
            <a href="{{ url_for('appointment.all_appointments') }}">View all appointments</a>
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('user.logout') }}">Logout</a>
            <a href="{{ url_for('user.update_profile', user_id=current_user.user_id) }}">Update Profile</a>
            <a href="{{ url_for('user.change_password', user_id=current_user.user_id) }}">Change Password</a>
            <a href="{{ url_for('appointment.my_appointments') }}">My appointments</a>
        {% elif current_user.is_authenticated and current_user.access_level == 1 %}  
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('user.logout') }}">Logout</a>
            <a href="{{ url_for('user.update_profile', user_id=current_user.user_id) }}">Update Profile</a>
            <a href="{{ url_for('user.change_password', user_id=current_user.user_id) }}">Change Password</a>
            <a href="{{ url_for('user.user_admin_panel') }}">User Admin Panel</a>
        {% elif current_user.is_authenticated and current_user.access_level == 2 %}  
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('user.logout') }}">Logout</a>
            <a href="{{ url_for('user.update_profile', user_id=current_user.user_id) }}">Update Profile</a>
            <a href="{{ url_for('user.change_password', user_id=current_user.user_id) }}">Change Password</a>
            <a href="{{ url_for('appointment.admin_appointments') }}">Appointment Admin Panel</a>
        {% endif %}
    </nav>

    <div class="flashes">
        {% if get_flashed_messages() %}
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    
    <main>
        {% block content %}

        {% endblock content %}
    </main>

    <footer>
        <span>Prabhjot Aulakh and Tommy Tran, Winter 2024</span>
    </footer> 

</body>

</html>