{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('administration.static', filename='admin-appointment.css') }}" />
{% endblock header %}

{% block content %}
<div id="admin_appoint">


    <div id="appointments">
        <ul>
            <li><a href="{{ url_for('user.user_admin_panel') }}">User Admin Panel</a> </li>
            <li><a href="{{ url_for('administration.admin_appointments') }}">Appointment Admin Panel</a></li>
            <li><a href="{{ url_for('administration.view_logs') }}">View logs</a></li>
        </ul>
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Log ID</th>
                    <th>Admin ID</th>
                    <th>Admin name</th>
                    <th>Date of action</th>
                    <th>Action</th>
                    <th>Table affected</th>
                </tr>
            </thead>
            <tbody>
                {% if logs %}
                {% for log in logs %}
                <tr>
                    <td>{{ log[0] }}</td>
                    <td>{{ log[1] }}</td>
                    <td>{{ log[2] }}</td>
                    <td>{{ log[3] }}</td>
                    <td>{{ log[4] }}</td>
                    <td>{{ log[5] }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endblock content %}
</div>