{% extends "base.html" %}
{% from "macros.html" import form_field_error with context %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('administration.static', filename='appointment.css') }}" />
<script src="{{ url_for('administration.static', filename='toggle.js') }}"></script>
{% endblock css %}

{% block content %}
<div id="user-admin">
    <div id="create-user-section">
        <form method="POST" id="user_form" novalidate enctype="multipart/form-data" class="users">
            {{ user_form.hidden_tag() }}
            {{ user_form.user_type(id='user-type') }}
            {{ form_field_error(user_form.user_type.errors) }}
            {{ user_form.username(class='form-field', placeholder='Enter username') }}
            {{ form_field_error(user_form.username.errors) }}
            {{ user_form.email(class='form-field', placeholder='example@email.com') }}
            {{ form_field_error(user_form.email.errors) }}
            {{ user_form.password(class='form-field', placeholder='Enter password') }}
            {{ form_field_error(user_form.password.errors) }}
            {{ user_form.confirm_password(class='form-field', placeholder='Retype password') }}
            {{ form_field_error(user_form.confirm_password.errors) }}
            {{ user_form.phone(class='form-field', placeholder='XXX-XXX-XXXX') }}
            {{ form_field_error(user_form.phone.errors) }}
            {{ user_form.address(class='form-field',placeholder='Enter your address ') }}
            {{ form_field_error(user_form.address.errors) }}
            {{ user_form.age(class='form-field',placeholder='Enter your age ') }}
            {{ form_field_error(user_form.age.errors) }}
            {{ user_form.pay_rate(placeholder='Enter pay rate', id='pay-rate') }}
            {{ form_field_error(user_form.pay_rate.errors) }}
            <div class="input-group">
                <div id="specialityLabel">Speciality</div>
                {{ user_form.specialty(id='specialty-register') }}
                {{ form_field_error(user_form.specialty.errors) }}
            </div>
            <div class="input-group">
                <div>Profile Picture</div>
                {{ user_form.avatar() }}
                {{ form_field_error(user_form.avatar.errors) }}
            </div>
            {{ user_form.submit(class='button', value='Create User') }}
        </form>

        <form method="POST" class="appointments" novalidate>
            <h2> Add appointment</h2>
            {{ appointment_form.hidden_tag() }}
            <div class="input-group">
                <div>Client:</div>
                {{ appointment_form.member_name(class='form-field', placeholder='Choose the member') }}
                {{ form_field_error(appointment_form.prof_name.errors) }}
            </div>
            <div class="input-group">
                <div>Date:</div>
                {{ appointment_form.date_appointment(class='form-field', placeholder='Enter the date') }}
                {{ form_field_error(appointment_form.date_appointment.errors) }}
            </div>
            <div class="input-group">
                <div>Time slot:</div>
                {{ appointment_form.slot(class='form-field', placeholder='Enter the time slot') }}
                {{ form_field_error(appointment_form.slot.errors) }}
            </div>
            <div class="input-group">
                <div>Venue:</div>
                {{ appointment_form.venue(class='form-field', placeholder='Enter the venue') }}
                {{ form_field_error(appointment_form.venue.errors) }}
            </div>
            
            <div class="input-group">
                <div>Professional:</div>
                {{ appointment_form.prof_name(class='form-field', placeholder='Choose the professional') }}
                {{ form_field_error(appointment_form.prof_name.errors) }}
            </div>
            <div class="input-group">
                <div>Service:</div>
                {{ appointment_form.service(class='form-field', placeholder='Choose the service ') }}
                {{ form_field_error(appointment_form.service.errors) }}
            </div>
            {{ appointment_form.submit(class='button', value='Add an appointment') }}
        </form>

        <form action="{{ url_for('administration.dashboard') }}" class="appointments" method="GET">
            <label for="order_by">Order by:</label>
            <select name="order_by" id="order_by">
                <option value="appointment_id">Appointment ID</option>
                <option value="venue">Venue</option>
                <option value="date_appointment">Date</option>
            </select>

            <button type="submit">Apply</button>
        </form>

    </div>


    <div id="users">
        <label class="toggle">
            Users
            <label class="switch">
                <input type="checkbox" id="switch">
                <span class="slider round"></span>
            </label>
            Appointments
        </label>
        <table class="user-columns users">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>ID</th>
                    <th>Enabled</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th>Pay</th>
                    <th>Speciality</th>
                </tr>
            </thead>
            <tbody class="user-body">
                {% for user in users %}
                <tr>
                    <td class="action-col"><a href="{{ url_for('user.delete_user', user_id = user[0])}}">Delete</a></td>
                    <td class="action-col"><a href="{{ url_for('user.update_user', user_id=user[0]) }}">Update</a></td>
                    <td class="action-col">
                        <a href="{{ url_for('user.toggle_activation', user_id=user[0]) }}">
                            {% if user[1] == 1 %}
                            Disable
                            {% else %}
                            Enable
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ user[0] }}</td>
                    {% if user[1] == 1 %}
                    <td>Yes</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                    <td>{{ user[6] }}</td>
                    <td>{{ user[7] }}</td>
                    <td>{{ user[8] }}</td>
                    <td>{{ user[9] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        {% if appointments %}
        {% for appointment in appointments %}
        <table class="user-columns" class="appointments">
            <thead class="">
                <tr>
                    <th>Appointment ID</th>
                    <th>Client</th>
                    <th>Professional</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Time-Slot</th>
                    <th>Service</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="user-body">
                <tr>
                    <td>{{ appointment[0] }}</td>
                    <td>{{ names[loop.index0][0] }}</td>
                    <td>{{ names[loop.index0][1] }}</td>
                    <td>{{ appointment[2] }}</td>
                    <td>{{ appointment[4] }}</td>
                    <td>{{ appointment[3] }}</td>
                    <td>{{names[loop.index0][2]}}</td>
                    <td>
                        <a class="button"
                            href="{{url_for('appointment.update_appointment',appointment_id=appointment[0])}}">
                            Update </a>
                        <a class="delete-button"
                            href="{{url_for('appointment.delete_appointment',appointment_id=appointment[0])}}">Delete
                        </a>
                        {% if reports[loop.index0] %}
                        <a class="delete-button"
                            href="{{url_for('report.delete_report',report_id=reports[loop.index0][2])}}">Delete report
                        </a>
                        {% endif %}
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="user-columns">
            <tr>
                <th class="">Client feedback:</th>
                <td>{{ reports[loop.index0][0] }}</td>
                <td class="report-action">
                    <a class="button"
                        href="{{url_for('report.update_report',appointment_id=appointment[0], member_to_update = 'Member')}}">
                        Update
                    </a>
                </td>
            </tr>
            <tr>
                <th class="">Professional feedback:</th>
                <td>{{ reports[loop.index0][1] }}</td>
                <td class="report-action">
                    <a class="button"
                        href="{{url_for('report.update_report',appointment_id=appointment[0], member_to_update = 'Professional')}}">
                        Update
                    </a>
                </td>
            </tr>
        </table>
        <br>
        <br>
        {% endfor %}
        {% else %}
        <div>No appointments to render</div>
        {% endif %}
    </div>

</div>
{% endblock content %}