{% extends "base.html" %}\
{% block header %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='styles.css') }}" />
<link rel="stylesheet" href="{{ url_for('main.static', filename='about.css') }}" />
{% endblock header %}
{% block content %}
<div class="container">
    <div class="profile-container">
        <div class="profile">
            <p>Student ID: </p>
            <img src="static/images/barber-shop.jpeg" alt="Profile Picture">
            <p>Prabhjot</p>
            <p>I'm a computer science student passionate about coding, problem-solving, and technology. Currently pursuing my Bachelor's degree, I enjoy exploring various aspects of software development and learning new skills.</p>
        </div>
    </div>
    <div class="profile-container">
        <div class="profile">
            <p>Student ID: 1435162 </p>
            <img src="static/images/avatar.png" alt="Profile Picture">
            <p>Tommy Tran</p>
            <p>I'm a computer science student passionate about coding, problem-solving, and technology. Currently pursuing my Bachelor's degree, I enjoy exploring various aspects of software development and learning new skills.</p>
        </div>
    </div>
</div>
{% endblock content %}