<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{context['page_title']}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

</head>

<body>
    <header>
        <h1> Barber shop</h1>
    </header>
    <nav>
        <li id="nav"> <a href="{{url_for('main.home_view')}}">Home</a></li>

        {% if current_user.is_authenticated %}
        Hey {{current_user.username}}
        <li id="nav"> <a href="{{url_for('user.logout')}}">Logout</a></li>
        <!--<li id="nav"> <a href="{{url_for('user.login')}}">Login</a></li>-->
        {% else %}
        <li id="nav"> <a href="{{url_for('user.register')}}">Register</a></li>
        <li id="nav"> <a href="{{url_for('user.register_professional')}}">Register as a professional</a></li>
    
        {% endif %}

    </nav>
</body>

</html>