@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {
    outline: 1px solid red;
} */

:root {
    --light-blue: #574ae2;
    --dark-blue: #222a68;
    --dark-purple: #654597;
    --medium-purple: #ab81cd;
    --light-purple: #e2adf2;
    --font-family: Roboto, sans-serif;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    color: #ffffff;
    height: auto;
    font-size: 1.25rem;
    text-align: center;
}

header h1 {
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    color: #ffffff;
    font-size: 1.25rem;
    gap: 1rem;
    padding: 1rem 0;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding: 0;
    }

    nav a {
        width: 100%;
        display: block;
        flex: 1;
        padding: 1rem;
        border: 1px solid black;
    }
}