@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {
    outline: 1px solid red;
} */

:root {
    --primary-clr: #561D25;
    --secondary-clr: #CE8147;
    --ternary-clr: #ECDD7B;
    --fourth-clr: #D3E298;
    --fifth-clr: #CDE7BE;
    --font-family: Roboto, sans-serif;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-clr);
    color: #ffffff;
    height: auto;
    font-size: 1.25rem;
    text-align: center;
}

header h1 {
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-clr);
    color: #ffffff;
    font-size: 1.25rem;
    gap: 1rem;
    padding: 1rem 0;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding: 0;
    }

    nav a {
        width: 100%;
        display: block;
        flex: 1;
        padding: 1rem;
        border: 1px solid black;
    }
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--fifth-clr);
    flex: 1;
    height: auto;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

form {
    background-color: var(--fourth-clr);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    width: 100%;
    max-width: 37.5rem;
    border-radius: 0.2rem;
    height: auto;
}

.input-group {
    width: 80%;
}

.input-group * {
    width: 100%;
}

form * {
    width: 80%;
}

form input,
select {
    font-size: 1.25rem;
    padding: 0.5rem;
}

form .button {
    background-color: var(--secondary-clr);
    border: none;
    border-radius: 0.1rem;
    color: #ffffff;
}

.error,
.success {
    padding: 1rem;
    color: #ffffff;
}

.error {
    list-style: none;
    background-color: var(--fifth-clr);
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: red;
}

.success {
    background-color: green;
    width: fit-content;
}

#pay-rate {
    display: none;
}

#specialty-register,
#specialityLabel {
    display: none;
}

.flashes {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fifth-clr);
    font-size: 1.5rem;
    margin-inline: auto;
}

footer {
    background-color: var(--fourth-clr);
    width: 100%;
    flex-grow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
    font-weight: bold;
    border: 1px solid black;
}

/*-------------Appointment css----------------------*/
div#flex {
    display: flex;
    height: 100%;
}

@media(max-width: 700px) {
    div#flex{
        flex-direction: column;
    }
}

section#left-side {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: #ffe8d6;
}

section#right-side {
    display: flex;
    flex: 2;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: #cb997e;
    justify-content: center;
    overflow-y: auto;
    flex-wrap: wrap;

}

.listing {
    background-color: beige;
    display: flex;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid black;
    width: 80%;
    height: 20vh;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    height: auto;
}

.container {
    text-align: center;

}


.section {
    background-color: #ddbea9;
    margin: 25px;
    width: 40%;
    text-align: center;
    border-radius: 10px;
}

.button {
    display: inline-block;
    background-color: lightgreen;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}
