.container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.left-side {
    flex: 1 ;
    flex-shrink: 0;
    box-sizing:border-box;
    
}

.right-side {
    flex: 3 ;
    background-color: #481E14;
    height:100%;
    overflow:auto;
    padding: 1rem;
}

.table-title {
    background: #0c3b75;
    color: #fff;
    padding: 15px 30px;
    text-align:center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color:blanchedalmond;
}

.table thead{
    background-color:#939393;
}


table,
thead,
tbody,
td,
th {
    border: 1px solid black;
    text-align: center;
}


@media (max-width: 1000px) { /* Adjust the breakpoint as needed */
    .left-side,.right-side {
         flex: 1 100%;
     }
 }


table th,table td {
    padding: 12px 15px;
}

.button {
    display: inline-block;
    background-color: lightgreen;
    padding: 10px 10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}

.delete-button {
    display: inline-block;
    background-color: lightcoral;
    padding: 10px 10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}

form{
    padding:1rem;
    background-color:transparent;
    color:white;
}
.feedback-table {
    margin-bottom: 20px;
}

.fixed-size {
    width: 150px;
}

.action-column {
    width: 100px;
}