#user-admin {
    display: flex;
    flex-wrap: wrap;
}

#create-user-section {
    flex: 1;
    padding: 1rem;
    background-color: black;
}

#users {
    flex: 3;
    background-color: black;
    padding: 1rem;
    overflow: scroll;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #ddd;
    color: black;
}

.admin-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-table th,
.admin-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.admin-table thead {
    background-color: #333;
    color: #fff;
}

.admin-table tbody tr:hover {
    background-color: #f2f2f2;
}


.admin-table tbody td:first-child {
    font-weight: bold;
}

.admin-table tbody .button {
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
}

.admin-table tbody .button:hover {
    background-color: #0056b3;
}

.admin-table tbody .warn-button {
    background-color: #d9e31a;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
}

.admin-table tbody .warn-button:hover {
    background-color: #797d1b;
}

.admin-table tbody .state-button {
    background-color: #39b71f;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
}

.admin-table tbody .state-button:hover {
    background-color: #234e14;
}

.admin-table tbody .delete-button {
    background-color: #dc3545;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.admin-table tbody .delete-button:hover {
    background-color: #c82333;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px;
}

form {
    background-color: #333;
    color: white;
}

.form-error {
    background-color: lightcoral;
}

.div-error {
    color: red;
}
.enabled-yes {
    background-color: green;
}

.enabled-no {
    background-color: red;
}
@media (max-width: 1000px) {

    /* Adjust the breakpoint as needed */
    #create-user-section,
    #users {
        flex: 1 100%;
        margin: 0 auto;
    }

    #create-user-section {
        display: flex;
        flex-direction: column;
    }

    #users {
        width: 100%;
    }

    thead,
    tr th {
        display: none;
    }

    tr,
    th,
    td {
        display: block;
    }

    .admin-table th,
    .admin-table td {
        text-align: right;
    }

    td[data-title]:before {
        content: attr(data-title);
        font-weight: bold;
        display: inline-block;
        content: attr(data-title);
        float: left;
        margin-right: 0.5em;
        font-size: 0.95em;
    }

    tr {
        padding: 1.5em;
    }
}