#user-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#create-user-section {
    flex: 3;
    height: 100%;
}

#users {
    flex: 7;
    background-color: var(--ternary-clr);
    height: 100%;
    overflow: scroll;
    text-align: center;
    padding: 1rem;
}

.user-block {
    width: 100%;
}

.user-columns {
    border-collapse: collapse;
    color: #ffffff;
}

.user-columns th, .user-columns td {
    border: 1px solid black;
    padding: 8px;
    background-color: var(--secondary-clr);
    height: 40px; 
    width: 120px; 
}

.user-columns th {
    background-color: var(--primary-clr);
}

.user-body tr td button{
    width: 100%;
    height: 100%;
}